.board_list {
    display: grid;
    grid-template-columns: 5% 80% 15%; /* 3개의 컬럼, 각각의 너비는 1fr */
    border-bottom: 1px solid white;
}
#write_button {
    border: 1px solid white;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#boards {
    margin-top: 40px;
    border-top: 3px solid white;
    border-bottom: 2px solid white;
}