.writing_layout {
    display: flex;
    flex-direction: column;
    
    #bottom_layout {
        margin-top: 5px;
        display: flex;
        margin-left: auto;
        align-items: center;
        p {
            margin-right: 20px;
            margin-left: 20px;
            margin-block-start: 0em;
            margin-block-end: 0em;
        }

    }
}

.description {
    font-family:  "Gowun Batang", serif;
    margin-left: auto;
    margin-bottom: 5px;
}
#writing_title {
    font-size: 20px;
    padding: 7px;
    border-radius: 10px;
    font-family:  "Gowun Batang", serif;
}

#writing_detailed {
    margin-top: 20px;
    min-height: 50vh;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    resize: none;
    font-family:  "Gowun Batang", serif;
}

.writing {
    font-family:  "Gowun Batang", serif;
    padding: 5px;
    border-radius: 10px;
}
#save {
    width: fit-content;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    font-family: 'jua';
    margin-left: 40px;
    div {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 10px;
    }
}

#save:hover {
    div {
        background-color: white;
        color:#081F5C;
    }
}